@using SmallCode.Auth.Models;
@model SmallCode.Auth.Models.Function


<form id="editForm" method="post">
    <input name="Id" class="mini-hidden" value="@Model.Id" />
    <input class="mini-hidden" name="State" value="@ViewBag.WebState" />
    <div style="padding-left:11px;padding-bottom:5px;">
        <table style="table-layout:fixed;">
            <tr>
                <td style="width:70px;">方法名称：</td>
                <td style="width:150px;">
                    <input name="FunctionName" class="mini-textbox" required="true" value="@Model.FunctionName" emptyText="请输入功能" />
                </td>
                <td style="width:70px;">方法url：</td>
                <td style="width:150px;">
                    <input name="Url" class="mini-textbox" required="true" value="@Model.Url" emptyText="请输入Url" />
                </td>
            </tr>
            <tr>
                <td style="width:70px;">功能编号：</td>
                <td style="width:150px;">
                    <input name="FunctionCode" class="mini-textbox" required="true" value="@Model.FunctionCode" emptyText="请输入功能编号" />
                </td>
                <td style="width:70px;">父亲功能：</td>
                <td style="width:150px;">
                    <input name="FatherId" id="ddlFatherId" class="mini-combobox" valueField="Id" textField="FunctionName"
                           url="/Function/GetFathers" valueSelected="@Model.Id"
                           emptyText="请选择部门" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center;padding:10px;">
        <a class="mini-button" onclick="onOk" style="width:60px;margin-right:20px;">确定</a>
        <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
    </div>
</form>
<script type="text/javascript">
    mini.parse();

    var form = new mini.Form("editForm");

    //设置下拉默认
    var ddlFatherId = mini.get("ddlFatherId");
    ddlFatherId.setValue('@Model.FatherId');

    function SaveData() {
        var o = form.getData();

        form.validate();
        if (form.isValid() == false) return;

        //var json = mini.encode([o]);
        $.ajax({
            url: "/Function/Edit",
            type: 'post',
            data: o,
            cache: false,
            success: function (text) {
                alert(text);
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
                CloseWindow();
            }
        });
    }


    function CloseWindow(action) {
        if (action == "close" && form.isChanged()) {
            if (confirm("数据被修改了，是否先保存？")) {
                return false;
            }
        }
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }


    function onOk(e) {
        SaveData();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }
</script>