
@{ 
    List<Guid> functionIds = ViewBag.FunctionIds  as List<Guid>;
}

<input type="hidden" id="hRoleId" name="RoleId" value="@ViewBag.RoleId" />
<table class="table">
    <tr>
        <td></td>
        <td>功能名称</td>
        <td>功能代码</td>
    </tr>
    @foreach (var item in ViewBag.Functions)
    {
        <tr>
            <td>
                <input type="checkbox" class="choose" name="choose" value="@item.Id" @(functionIds.Contains(item.Id)?"checked":"") />

            </td>
            <td>@item.FunctionName</td>
            <td>@item.FunctionCode</td>
        </tr>
    }
</table>

<input type="button" id="btnAuth" name="Auth" value="授权" />
<script>
    function CloseWindow(action) {

        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }

    $(function () {
        var functionIds = "";
        $("#btnAuth").click(function () {
            $(".choose").each(function (key, val) {
                var id = $(val).val();
                functionIds = functionIds + "," + id;
            });
            $.post("/Role/Auth",
                { functionIds: functionIds, id: $("#hRoleId").val() },
                function (data) {
                    if (data == "ok") {
                        CloseWindow("auth");
                    }
                });
        });

    });
</script>